version: '3'


services:
  backend:
    build:
      context: .
      dockerfile: compose/backend/Dockerfile
    command: uvicorn main:app --port 8000 --host 0.0.0.0
    volumes:
      - ./backend:/app
    ports:
      - 127.0.0.1:8000:8000